*.iml
.gradle
/local.properties
.idea/libraries
.idea/gradle.xml
.idea/workspace.xml
.idea/dictionaries
.idea/copyright
/.idea/runConfigurations.xml
/build
/captures
/app/build
/app/lint.xml
/app/google-services.json
