*.iml
.gradle
/local.properties
.idea/libraries
.idea/gradle.xml
.idea/workspace.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/copyright
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
